.hero { width: 100%; }

.container { width: 100%; height: 100%; max-width: 1200px; background-size: cover; background-position: center; overflow: hidden; margin: 0 auto; }

.container h1, .container p { display: block; background-color: rgba(0, 0, 0, 0.5); color: white; font-family: "Open sans", sans-serif; }

.container h1 { float: right; min-width: 300px; width: 50vw; margin-top: 25vh; padding: 20px; }

.container p { float: left; margin-top: 10px; padding: 5px 10px 5px 30px; font-size: 10px; }

.container p a:link, .container p a:visited { text-decoration: none; color: #dedede; }

.container p a:hover, .container p a:active { text-decoration: underline; color: #f0f0f0; }

.carousel-cell { width: 100vw; height: 50vh; min-height: 250px; }

.reset-button { position: absolute; top: 10px; right: 10px; z-index: 1; background-color: rgba(0, 0, 0, 0.5); color: white; font-family: "Open sans", sans-serif; font-size: 20px; padding: 10px 20px; border-radius: 20px; }

.progress-bar { height: 20px; width: 0; background-color: rgba(0, 0, 0, 0.5); }

#map { height: calc(50vh - 20px); width: 100%; }
